### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.idea/
