body {
  font-family: "Equinor" !important;
}

#steps-table {
  margin-bottom: 50vh;
}

p {
  margin: 0 auto;
  font-size: 1.2rem !important;
  max-width: 900px !important;
}

.reactions {
  margin: 0 auto;
  font-size: 1.2rem !important;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 64px;
  max-width: 900px;
}
